.container {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 4rem 10%;
}

.content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content h2 {
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-color);
}

.content h1 {
    font-size: 3rem;
    font-weight: 600;
}

.content p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-text-color);
    line-height: 1.5;
}

.asset {
    scale: 0.9;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-buttons {
    display: flex;
    gap: 1.5rem;
}

.social-icon {
    fill: var(--secondary-text-color);
    transition: 0.4s;
    scale: 1.5;
}

.social-icon:hover {
    fill: var(--primary-color);
    transition: 0.4s;
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .container {
        padding: 4rem 5%;
    }

    .asset {
        scale: 0.8;
    }

    .buttons {
        gap: 0.5rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container {
        padding: 4rem 2%;
    }

    .content {
        width: 60%;
    }

    .asset {
        scale: 0.65;
        width: 50%;
    }

    .buttons {
        gap: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 4rem 20px;
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .asset {
        scale: 0.7;
    }

    .buttons {
        flex-wrap: wrap;
    }
    
}