.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 200px;
    background-color: var(--white-color);
}

.container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--black-color);
}

.container p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray-color);
    text-align: center;
}

.container .icon {
    fill: var(--primary-color);
    padding: 0.3rem;
    width: 6rem;
    height: 6rem;
    border: 2px dashed var(--primary-color);
    border-radius: 50%;
    transition: var(--transition);
}

.container .icon:hover {
    background-color: var(--primary-color);
    fill: var(--white-color);
    transition: var(--transition);
}

.container .degrees {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.degree {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.degree h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black-color);
}

.degree h2 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--primary-color);
}

.degree h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black-color);
}

.degree p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--gray-color);
    text-align: center;
}