.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10%;
    z-index: 1000;
}

.logo {
    font-weight: 600;
    font-size: 1.7rem;
    text-wrap: nowrap;
}

.nav {
    display: flex;
    gap: 1.8rem;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.nav .burger-menu {
    display: none;
    cursor: pointer;
}

.nav .burger-menu .line {
    width: 25px;
    height: 2px;
    background-color: var(--white-color);
    margin: 5px;
    transition: var(--transition);
}

.nav .burger-menu.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.nav .burger-menu.active .line:nth-child(2) {
    opacity: 0;
}

.nav .burger-menu.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

.nav ul.active {
    display: flex;
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .header {
        padding: 1rem 5%;
    }

    .logo {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .header {
        padding: 1rem 2%;
    }

    .logo {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 1rem 20px;
    }

    .logo {
        font-size: 1.4rem;
    }
    
    .nav ul {
        display: none;
        position: absolute;
        top: 3.7rem;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--secondary-color);
        flex-direction: column;
        gap: 1.5rem;
        padding: 1rem 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        animation: fadeIn 0.5s ease;
    }

    .nav .burger-menu {
        display: block;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}