.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 200px;
    z-index: 1000;
}

.logo {
    font-weight: 600;
    font-size: 1.7rem;
}

.nav {
    display: flex;
    gap: 1.8rem;
}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.2rem;
}